@import 'https://fonts.googleapis.com/css?family=Jockey+One';
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700';
body {
    margin: 0;
    padding: 0;
    text-align:center;
    overflow-y: hidden;
    overflow-x: hidden;
}
canvas {
	background: url(../images/background.png) repeat-x center center fixed; 
    height: 100vh;
    width: 100%;
}